<form action="<%= subs_url %>" method="post">
  <input type="hidden" name="authenticity_token" id="" value="<%= form_authenticity_token %>">

  <label> Title:
    <input id="title" type="text" name="sub[title]" value="">
  </label>
  <label> Description:
    <input id="description" type="text" name="sub[description]" value="">
  </label>

  <input type="submit" value="Create Sub Reddit">
</form>